<!DOCTYPE html>
<html>

<head>

  <!--This helped so much: https://getbootstrap.com/docs/5.0/components/card/-->
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
  <script src="{{url_for('static', filename='globals.js')}}"></script>
</head>

<body>
  <main>

    <div class="container" id="main-outer-container">
        <div id='fish-map'>
            {{fish_map|safe}}
        </div>
        <br><center>
        <!-- <iframe id="hehe" width="500" height="200" src="/checker/getdistance"></iframe></center> -->
    </div>
  </main>
</body>

</html>