<!DOCTYPE html>
<html>

<head>
  <!--This helped so much: https://getbootstrap.com/docs/5.0/components/card/-->
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
  <script src="{{url_for('static', filename='globals.js')}}"></script>
</head>

<body>
  <main>

    <div class="container" id="main-outer-container">

      <!--login screen-->
      <div class="container" id="login-outer-container">
        <div class="card inner-container" id="login-inner-container">
          <div class="card-header">
            {{projectname}} Checker
          </div>
          <div class="card-body">
            <div id="data-logger-raw-form-container">
              <form id="main-login-form">
                <div class="login-input-container form-group" id="datatype-select-container">
                  <label for="datatype-select">Select the Submission Type:</label>
                  <select class="form-control" id="datatype-select" name="login_datatype">
                    <option value="sav">SAV</option>
                    <option value="bruv">BRUV</option>
                    <option value="fishseines">Fish Seines</option>
                    <option value="crabtrap">Crab Trap</option>
                    <option value="vegetation">Vegetation</option>
                    <option value="nutrients">Nutrients</option>
                    <option value="edna">eDNA</option>
                    <option value="feldspar">Feldspar</option>
                    <option value="sedimentgrainsize">Sediment Grain Size</option>
                    <option value="discretewq">Discrete Water Quality</option>
                    <option value="benthicinfauna">Benthic Infauna</option>
                  </select>
                </div>
                <br>
                <div class="login-input-container form-group">
                  <label for="login_email">Enter your email address:</label>
                  <input id="login_email" type="email" name="login_email" class="form-control" placeholder="name@example.com">
                </div>
                <br />
                <div class="form-group form-group-dynamic" id="agency-select-container">
                  <label for="agency-select">Select your agency:</label>
                  <select class="form-control" id="agency-select" name="login_agency">
                    <option value="none" id="default-hidden-agency-select" selected disabled hidden></option>
                    {% for agencyname, agencycode in agencies.items() %}
                    <option value="{{agencycode}}">{{agencyname}}</option>
                    {%endfor%}
                  </select>
                </div>
                <br>
                <!-- Estuary'names Dropdown -->
                <div class="form-group form-group-dynamic" id="estuary-select-container">
                  <label for="estuary-select">Select the estuary:</label>
                  <select class="form-control" id="estuary-select" name="login_estuary">
                    <option value="none" id="default-hidden-estuary-select" selected disabled hidden></option>
                    {% for estuary in estuaries %}
                      {% if estuary in notinmsf_estuaries %}
                        <option value="{{estuary}}" disabled="disabled" title="Please submit the metadata for this estuary using the Microsoft Form">{{estuary}}</option>
                      {% else %}
                        <option value="{{estuary}}">{{estuary}}</option>
                      {% endif %}
                    {%endfor%}
                  </select>
                </div>
                </br>
                <!-- Start Date Dropdown -->
                <div class="form-group raw-required form-group-dynamic" id="startdate-select-container">
                  <label for="startdate-select">Select start date: </label>
                  <select class="form-control" id="startdate-select" name="login_startdate">
                    <option value="none" id="default-hidden-estuary-select" selected disabled hidden></option>
                    {% for date in dates %}
                    <option value="{{date}}">{{date}}</option>
                    {% endfor %}
                  </select>
                </div>
                <br />
                <div class="login-input-container form form-group hidden" id="login-form-submit-btn-container">
                  <button class="btn btn-secondary" type="submit">Sign in</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--End login screen-->



      <!--File submission form-->
      <div class="before-submit container hidden">
        <div class="card inner-container">
          <div class="card-header">
            <div class="card-title">
              Choose a file or drag and drop a file anywhere on the page to begin
            </div>
          </div>
          <div class="card-body">
            <div class="row container file-form-container">
              <form id="file-submission-form">
                <div class="row form-group file-submission-form-row">
                  <input type="file" name="files" class="form-control-file" multiple>
                </div>
                <div class="row form-group file-submission-form-row">
                  <button type="submit" class="btn btn-dark">submit data</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
      <!--End file submission form-->




      <!--Loader gif-->
      <div class="container hidden" id="loader-gif-container">
        <div class="card">
          <div class="card-header loader-gif-card-header">
            Please wait
          </div>
          <div class="card-body loader-gif-card-body">
            <img id="loader-gif" src="{{url_for('static',filename='loader.gif')}}">
          </div>
        </div>
      </div>
      <!--End Loader gif-->



      <!--Submission Report Section (outer container)-->
      <div class="submission-report-outer-container after-submit hidden">

        <div class="submission-report-inner-container container">
          <div class="card container">


            <div class="submission-report-headers row">
              <div class="col-sm submission-info-tab-header active" id="submission-info-header">
                Submission Information
              </div>
              <div class="col-sm submission-info-tab-header" id="errors-report-header">
                Errors
              </div>
              <div class="col-sm submission-info-tab-header" id="warnings-report-header">
                Warnings
              </div>
              <div class="col-sm submission-info-tab-header" id="map-report-header">
                Map
              </div>
            </div>



            <div class="submission-report-body container card-body">
              <div id="submission-info-body" class="submission-info-tab-body">
                <ul>
                  <li class="list-group-item">
                    <p><span id="submissionid-header">Submission ID: </span><span id="submissionid"></span></p>
                  </li>
                  <li class="list-group-item">
                    <p><span id="original-filename-header">File Name: </span><span id="original-filename"></span></p>
                  </li>
                  <li class="list-group-item">
                    <p><span id="submission-type-header">Type of Submission: </span><span id="submission-type"> </span>
                    </p>
                  </li>
                  <li class="list-group-item">
                    <div class="card">
                      <div class="card-header">
                        <span id="compare-list-header"> Excel Tab to Database Table Comparison</span>
                      </div>
                      <div class="card-body">
                        <ul id="tab-table-comparison-list">
                        </ul>
                      </div>
                    </div>

                  </li>
                  <li class="list-group-item">
                    <p><a id="excel-markup-download" target="_blank" href="#">Download Excel File with Errors Report
                        Markup</a></p>
                  </li>
                </ul>


                <!--for unsuccessful submissions-->
                <div class="container hidden" id="reload-button-container">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="card-title">
                        There were errors with your file
                      </h5>
                      <h6 class="card-subtitle">
                        You may click the button below to reload and login again,
                        or you may drag and drop a file on the page again
                      </h6>
                    </div>
                    <div class="card-body">
                      <button class="btn btn-secondary btn-lg btn-block btn-reload">
                        Reload the application
                      </button>
                    </div>
                  </div>
                </div>


              </div>






              <div id="errors-report-body"
                class="errors-report-body-outer-container container submission-info-tab-body hidden">
                <div class="card">



                  <div id="errors-report-tab-headers" class="row tab-header-container container">

                    <!--This div would need to be repeated, one per table, meaning the innerHTML of the parent element gets repeated-->
                    <div class="errors-tab-header tab-header col-sm">
                      <!--id="${x.table}-errors-tab-header" -->
                    </div>

                  </div>

                  <div id="errors-report-body-inner-tab-container" class="container">

                    <!--This div needs to be repeated, one per table, meaning the innerHTML of the parent element gets repeated-->
                    <div class="errors-tab-body">
                      <!--id would be tablename-errors-tab-body-->

                      <div class="row errors-report-header">
                        <div class="col-sm errors-report-cell">Column(s)</div>
                        <!--<div class="col-sm errors-report-cell">Error Type</div>-->
                        <div class="col-sm errors-report-cell">Error Message</div>
                        <div class="col-sm errors-report-cell">Row(s)</div>
                      </div>

                      <div class="errors-tab-rows">
                      </div>

                    </div>

                  </div>



                </div>

              </div>




              <div id="warnings-report-body"
                class="warnings-report-body-outer-container container submission-info-tab-body hidden">
                <div class="card">



                  <div id="warnings-report-tab-headers" class="row tab-header-container container">

                    <!--This div would need to be repeated, one per table, meaning the innerHTML of the parent element gets repeated-->
                    <div class="warnings-tab-header tab-header col-sm">
                      <!--id="${x.table}-warnings-tab-header" -->
                    </div>

                  </div>

                  <div id="warnings-report-body-inner-tab-container" class="container">

                    <!--This div needs to be repeated, one per table, meaning the innerHTML of the parent element gets repeated-->
                    <div class="warnings-tab-body">
                      <!--id would be tablename-warnings-tab-body-->

                      <div class="row warnings-report-header">
                        <div class="col-sm warnings-report-cell">Column(s)</div>
                        <!--<div class="col-sm warnings-report-cell">Error Type</div>-->
                        <div class="col-sm warnings-report-cell">Error Message</div>
                        <div class="col-sm warnings-report-cell">Row(s)</div>
                      </div>

                      <div class="warnings-tab-rows">
                      </div>

                    </div>

                  </div>



                </div>

              </div>


              <div id="map-report-body" class="map-report-body-outer-container container submission-info-tab-body hidden">
                
                <iframe id="visual-map" width="1100" height="900" src="" ></iframe>

              </div>


            </div>

            <!--for successful submissions (final submit)-->
            <div class="container form-container hidden" id="final-submit-button-container">
              <form id="final-submit">
                <button type="submit" class="btn btn-success btn-lg btn-block">Final Submit</button>
              </form>
            </div>



            <br>

          </div>

        </div>

      </div>
      <!--End error Report Section (outer container)-->



      <!--Loader gif-->
      <div class="container hidden" id="after-successful-final-submit">
        <div class="card">
          <div class="card-header" id="after-submit-sucess-card-header">
            <h5 class="card-title">
              Success!
            </h5>
          </div>
          <div class="card-body loader-gif-card-body">
            <p>Thank you for taking the time to submit your data. SCCWRP staff have been notified, and you should
              be receiving an email receipt soon. Thank you!</p>
            <div class="row">
              <div class="col-sm">
                <button class="btn btn-primary btn-reload">Reload the application</button>
              </div>
              <div class="col-sm">
                <button class="btn btn-info btn-sccwrp">Go to the SCCWRP website</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Loader gif-->

    </div>
  </main>
</body>

<!--Load js at the end rather than doing something similar to $('document').ready()-->
<!--tabs.js has a function called tabs which i plan on using in report.js-->
<!--main.js needs to be at the bottom-->
<script src="{{url_for('static', filename='tabs.js')}}"></script>
<script src="{{url_for('static', filename='finalsubmit.js')}}"></script>
<script src="{{url_for('static', filename='report.js')}}"></script>
<script src="{{url_for('static', filename='dragndrop.js')}}"></script>
<script src="{{url_for('static', filename='login.js')}}"></script>
<script src="{{url_for('static', filename='alterform.js')}}"></script>
<script src="{{url_for('static', filename='main.js')}}"></script>

</html>