<html>
  <head>
    <style>
        html,
        body,
        #viewDiv {
          padding: 0;
          margin: 0;
          height: 100%;
          width: 100%;
        }
    </style>
  
    <link rel="stylesheet" href="https://js.arcgis.com/4.25/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.25/"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  </head>
  <body>
    <div id="viewDiv"></div>
  </body>
  <script>
    
    const submissionID = {{ submissionid|safe }}
    const script_root = {{request.script_root|tojson|safe}};
    
    sessionStorage.submissionid = submissionID
    sessionStorage.script_root = script_root
    </script>
  <script src="{{url_for('static', filename='field_visual_map.js')}}"></script>
</html>