* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    padding: 0.1rem;
}

.container.login-container {
    margin: auto;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9;
    color: rgb(228, 245, 243);
    position: absolute;
    left: 30%;
    top:25%;
    box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 8, 7, 0.5);
    padding: 0.4rem;
    text-align: center;
}

.login-input-container {
    margin: 0.2rem;
    display: block;
}

.hidden {
    display: none;
}