* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}





.card.inner-container {
    margin: auto;
    width: 40%;
    z-index: 9;
    position: absolute;
    background-color: #f2f2f2;
    left: 30%;
    top:25%;
    box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 8, 7, 0.5);
    padding: 0.1rem;
    text-align: center;
}


.hidden {
    display: none;
}

.errors-report-tab-button{
    cursor: pointer;
    border: 1px solid rgba(226, 226, 226,0.5);
    border-radius: 0.1rem;
    background-color: #ebebeb;
    text-align: center;
    padding: 0.5rem;
}
.submission-info-tab-header{
    cursor: pointer;
    border: 1px solid rgba(226, 226, 226,0.5);
    border-radius: 0.1rem;
    background-color: #ebebeb;
    text-align: center;
    padding: 0.5rem;
}

.submission-info-tab-header.active {
    background-color: #dddddd;
}
.submission-info-tab-header:hover {
    background-color: #d1d1d1;
}

.row.file-submission-form-row {
    padding: 0.2rem;
    margin:0.2rem;
}

span.table-matched {
    color:green;
}
span.table-not-matched {
    color:red;
}

.errors-report-header {
    background-color: #f2f2f2;
}
.errors-report-cell {
    border: 1px solid rgba(226, 226, 226,0.5);
    text-align: center;
}

#main-outer-container {
    padding: 2rem;
}

#loader-gif-container .card-body {
    text-align: center
}

#loader-gif-container .card-header {
    text-align: center
}

#loader-gif-container #loader-gif {
    display: inline-block;
}